{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 4,
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"bracketSameLine": false,
				"parser": "svelte"
			}
		},
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
